// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles 
body,
html, 
.body {
  background: #ffffff !important;
}

.container.header {
  background: #f3f3f3;
}

.body-drip {
  border-top: 8px solid #663399;
}

// Full Width Headers
.header {
  background: #FAFAFA;
}

.header .columns {
  padding-bottom: 0;
}

.header .app-brand th {
  text-align: right;
}

.header .app-brand img {
  display: inline-block;
  height: auto;
  margin: 10px 16px 0 0;
  width: 45px;
}

.header .app-name {
  font-size: 32px;
  font-weight: 200;
}

.header .mail-name {
  color: $primary-color;
  margin: 3px 0 0;
  font-size: 32px;
  font-weight: 200;
  text-align: center;
}

.header .wrapper-inner {
  padding: 20px;
}

.header .container {
  background: transparent;
}

// Content

.container.content {
  background: #fff;
}

.content .callout p {
  font-size: 14px;
}

.content .callout p strong {
  font-weight: 500;
}

.content .action {
  margin: 0 auto;
}

.content .action td,
.content .action td:hover {
  background: none;
  border: none;
}

.content .action a {
  background: $primary-color;
  border-radius: 4px;
  font-size: 14px;
}

// Foooter

.footer {
  border-top: 1px solid #F2F2F2;
}

.footer .container {
  background: #fff;
}

.footer .text-center {
  color: #808080;
  font-size: 12px;
  padding: 24px 0;
}


// PunchMonitor

.punch-monitor.header .app-brand th {
  text-align: center;
}

.punch-monitor.header .app-brand img {
  margin: 0;
  vertical-align: -10px;
}

.punch-monitor.header .app-brand h1 {
  display: inline-block;
}

.punch-monitor.header .mail-name {
  color: #83CDC6;
}

.punch-monitor.content .action a {
  background: #83CDC6;
}